.form{
    display: flex;
    height: 250px;;
    width: 260px;
   
    color: white;
   background-color: grey;
   border: 2px solid black;
   align-items: center;
   justify-content: center;

}


.form button:hover{
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
    transition: 0.5s ease-in;
}